{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YouTube-gram</title>
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/post-list.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sprite.min.css' %}">
</head>
<body>
<div id="wrap">
    {# 유저가 관리자일 경우에만 is_authenticated여부를 출력 #}
    <header class="main-header">
        <nav class="header-nav">
        <span class="nav-group nav-left">
          <a href="" class="logo sprite-logo"></a>
        </span>
            <span class="nav-group nav-center">
            <form action="" method="get">
                <input type="text" name="query">
                <input type="number" name="max_results">
                <button type="submit">검색</button>
            </form>
                {{ total_results }}개의 결과
                {% if prev_page_token %}
                    <form action="">
                         <input type="hidden" name="query" value="{{ query }}">
                         <input type="hidden" name="max_results" value="{{ max_results }}">
                         <input type="hidden" name="page_token" value="{{ prev_page_token }}">
                         <button type="submit">이전</button>
                    </form>
                {% endif %}
                {% if next_page_token %}
                    <form action="">
                         <input type="hidden" name="query" value="{{ query }}">
                         <input type="hidden" name="max_results" value="{{ max_results }}">
                         <input type="hidden" name="page_token" value="{{ next_page_token }}">
                         <button type="submit">다음</button>
                     </form>
                {% endif %}
        </span>
            <span class="nav-group nav-right">
          <a href="" class="btn-header-nav sprite-explore"></a>
          <a href="" class="btn-header-nav sprite-activity"></a>
          <a href="" class="btn-header-nav sprite-profile"></a>
        </span>
        </nav>
    </header>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
